name: Deploy Docs 
on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install -U git+https://github.com/mkdocs/mkdocs.git#egg=mkdocs
      - run: mkdocs --version
      - run: pip install mkdocs-material mkdocs-markdownextradata-plugin mkdocs-minify-plugin
      - run: mkdocs gh-deploy --theme material --force
      